
@{
    ViewBag.Title = "Iniciar sesión - Instagram";
    ViewBag.Style = "login.css";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contenedor">
    <div class="login">
        <div class="contenido">
            <div class="log-on border_insc">
                <div class="logo">
                    <img src="~/Content/img/instagram-logo-black-on-white.png" alt="Instagram Logo">
                </div>
                <form method="POST" action="@Url.Action("Login","Instagram")">
                    <div>
                        <input type="email"
                               name="correo"
                               id="correo"
                               maxlength="50"
                               placeholder="Teléfono, usuario o correo electrónico" />
                    </div>
                    <div>
                        <input type="password"
                               name="passwordd"
                               id="passwordd"
                               maxlength="50"
                               placeholder="Contraseña" />
                    </div>
                    <button type="submit" class="log_btn">Iniciar Sesión</button>
                </form>

                <div class="otros">
                    <div class="separador">
                        <span class="linea"></span>
                        <span class="o">o</span>
                        <span class="linea"></span>
                    </div>
                    <div class="facebook">
                        <a href="https://www.facebook.com">
                            <img src="~/Content/img/facebook.png" alt="Icono facebook">
                            Iniciar sesión con Facebook
                        </a>
                    </div>
                    <div class="olvide">
                        <a href="@Url.Action("Olvidar","Instagram")">
                            ¿HOlvidaste tu contraseña?
                        </a>
                    </div>
                </div>
            </div>
            <div class="registro border_insc">
                <p>
                    ¿No tienes una cuenta? <a href="@Url.Action("Registrar", "Instagram")">Regístrate</a>
                </p>
            </div>
            <div class="descargas">
                <p>Descarga la aplicación.</p>
                <div>
                    <img src="~/Content/img/google_play_icon.png" alt="Icono de google play">
                    <img src="~/Content/img/microsoft-icon.png" alt="Icono de microsoft">
                </div>
            </div>
        </div>
    </div>
</div>

